.footer{
    background:rgb(255, 191, 35);
    color: black;
    // box-shadow: 10px 10px 4px #fccb4f;
    padding: 10px 10%; 
    &__companyname{
        flex: 1;
        padding: 10px 0 15px 0px;
        &__text{
            font-size: 30px;
            font-weight: 700;
            padding-bottom: 5px;
            letter-spacing: 1px;
        }
        &__description{
            font-size: 18px;
            font-size: 600;
        }
    }
    &__container{
        display: flex;
        justify-content: space-between;
        width: 90%;

    }
    &__details{
        width: 90%;
    }
    &__links{
        width: 10%;
        cursor: pointer;
        align-items: center;
        img{
            height: 23px;
            width: 23px;
            padding-right: 10px;
        }
        div{
            display: flex;
            padding: 10px 0px;
            font-size: 14px;
            font-weight: 600;
        }
    }
    &__col{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        &__header{
            font-size: 20px;
            // font-weight: 700;
            padding: 0;
            margin: 0 0 4px 0;
            display: flex;
            justify-content: start;
            div{
                display: flex;
                justify-content: start;
                padding-right: 17px;
                img{
                    height: 25px;
                    width: 25px;
                }
            }
        }
        &__text,&__en{
            font-size: 14px;
            line-height: 25px;
            font-weight: 400;
            a{
                color: black;
            }
            a:hover {
                color: darkblue;
            }

            span{
                font-weight: 700;
            }
        }
        &__en{
            display: flex;
            align-items: center;
            div{
                padding-left: 15px;
            }
            img{
                height: 20px;
                width: 20px;
            }
        }
        &__input{
            display: flex;
            input{
                outline: none;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                // border-radius: 4px;
                border: 1px solid black;
                background: transparent;
                width: 50%;
            }
            div{
                // border-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background: black;
                color: white;
                font-weight: 500;
                font-size: 12px;
                padding: 10px 5px;
            }
        }
    }
    &__enquiries{
        display: flex;
        padding-top: 20px;
        justify-content: space-between;
        width: 98%;
    }
    &__note{
        text-decoration: underline;
        padding-bottom: 10px;
    }
}
.followup{
    width: 30%;
}
.active{
    background: #ffc83c;
}
@media only screen and (max-width: 600px) {
    .footer{
        padding: 10px 3%;
        &__container{
            flex-direction: column;
            justify-content: center;
            width: 100%;
            
        }
        &__details{
            width: 100%;
        }
        &__col{
            width: 46%;
            padding-top: 5px;
            &__header{
                font-size: 14px;
                // font-weight: 700;
                padding: 0;
                margin: 0 0 4px 0;
                div{
                    padding-right: 12px;
                    img{
                        height: 25px;
                        width: 25px;
                    }
                }
            }
            &__text{
                font-size: 10px;
                line-height: 18px;
                font-weight: 400;
            }
        }
        &__companyname{
            flex: 1;
            padding: 5px 0 5px 0px;
            &__text{
                font-size: 16px;
                font-weight: 700;
                padding-bottom: 2px;
                letter-spacing: 1px;
            }
            &__description{
                font-size: 13px;
                font-size: 600;
            }
        }
        &__enquiries{
            flex-direction: row;
            padding-top: 5px;
            width: 100%;
            flex-wrap: wrap;

        }
        &__links{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            div{
                display: flex;
                align-items: center;
                padding: 20px 0px;
                font-size: 10px;
            }
        }
    }
}