<div class="footer" [ngClass]="{'active':changeBackground}">
    <div class="footer__companyname">
        <div class="footer__companyname__text">iEV Technologies</div>
        <div class="footer__companyname__description">iEvoke... iEvolve... iEventuate...</div>
    </div>
    <div class="footer__container">
        <div class="footer__details">
            <div class="footer__col">
                <div class="footer__col__header"> Contact</div>
                <div class="footer__col__text">
                    <div>prathipadu</div>
                    <div>Guntur</div>
                    <div>Andhra pradesh - 522233</div>
                </div>
            </div>
            <div class="footer__enquiries">
                <div class="footer__col">
                    <div class="footer__col__header">General Inquiries</div>
                    <div class="footer__col__text">+91 - 9160178492</div>
                    <div class="footer__col__text">+91 - 9542506795</div>
                </div>
                <div class="footer__col">
                    <div class="footer__col__header"> Sales</div>
                    <div class="footer__col__text">info@ievtechsales.com</div>
                </div>
                <div class="footer__col">
                    <div class="footer__col__header">Customer Care </div>
                    <div class="footer__col__text">info@ievtechcc.com</div>
                </div>
            </div>
        </div>
        <div class="footer__links">
            <div>LinkedIn</div>
            <div>Youtube</div>
            <div>Facebook</div>
        </div>
    </div>

</div>