<div class="learning">
    <div class="learning__heading">iEv learning hub</div>
    <div class="learning__desc">At IEV Learning Hub, we believe that learning is a lifelong journey that should be accessible, engaging, and empowering
        for all. Whether you're a seasoned professional looking to expand your skills or a curious learner eager to explore new
        subjects, our platform offers a diverse range of courses and resources to cater to your learning needs</div>
    <div class="learning__subheading">• Why Choose iEV Learning Hub?</div>
    <div class="learning__journey">
        <div class="arrow"><div>Diverse Course Offerings</div></div>
        <div class="arrow"><div>Expert Instructors</div></div>
        <div class="arrow"><div>Flexible Learning Options</div></div>
        <div class="arrow"><div>Interactive Learning Experience</div></div>
        <div class="arrow"><div>Community Support</div></div>
        <div class="arrow"><div>Continous Improvement</div></div>
    </div>
    <div class="learning__joinus">Join us Today</div>
    <div class="learning__text">Embark on your learning journey with IEV Learning Hub and unlock your full potential. Whether you're looking to advance your career, pursue your passion, or simply broaden your horizons, we're here to support you on every step of the way.Explore our courses today and take the step towards brighter future !
    </div>
    <div class="learning__textfinal">
        lets learn grow and suceed together at iEv learning hub ! </div>
    <div class="learning__button" (click)="clickOnServices();"><div>Explore iEv Learning Hub</div></div>
</div>
