<div class="learning">
    <div class="learning__heading"><div>iEV Learning Hub</div>- Your gateway to lifelong learning</div>
    <div class="learning__desc">At <span>iEV</span> Learning Hub, we believe that learning is a lifelong journey that should be accessible, engaging, and empowering
        for all. Whether you're a seasoned professional looking to expand your skills or a curious learner eager to explore new
        subjects, our platform offers a diverse range of courses and resources to cater to your learning needs</div>
    <div class="learning__subheading"> Why Choose <span>iEV</span> Learning Hub?</div>
    <div class="learning__journey">
        <div class="div one"><div>Expert led courses</div></div>
        <div class="div two"><div>Cutting edge ciriculum</div></div>
        <div class="div three"><div>Hands on learning Experience</div></div>
        <div class="div four"><div>Flexible learning options</div></div>
        <div class="div five"><div>Community & Networking</div></div>
    </div>
    <div class="learning__journey learning__text">
        <div class="content"><div>Expert led courses in <span>iEV</span> technologies and sustainability provides insights from industry innovators</div></div>
        <div class="content"><div>Stay updated with <span>iEV</span> learning hub cirriculum covering latest <span>iEV</span> trends and principle for success in this evoluing trends</div></div>
        <div class="content"><div>Develop practicals skills with hands on activities simulations and real world problems at <span>iEV</span> learning hub </div></div>
        <div class="content"><div>Learn at your own pace with on demand courses and flexible environment balancing your studies with your lifestyle</div></div>
        <div class="content"><div>Join a dynamic community of EV and sustainability enthusiasts collaborate network and like minded people</div></div>
    </div>
    <div class="learning__joinus">Join us Today</div>
    <div class="learning__text">Embark on your learning journey with <span (click)="clickOnServices();">iEV Learning Hub</span> and unlock your full potential. Whether you're looking to advance your career, pursue your passion, or simply broaden your horizons, we're here to support you on every step of the way. Explore our <span (click)="clickOnServices();">iEV Learning Hub</span> today and take the step towards brighter future !
    </div>
    <div class="learning__textfinal">
        lets learn grow and suceed together at <span>iEV</span> learning hub ! </div>
    <div class="learning__button" (click)="clickOnServices();"><div>Explore iEV Learning Hub</div></div>
</div>
