<div class="aboutus">
    <div class="aboutus__container">
        <div class="aboutus__container__text">
           <div class="aboutus__container__text__heading"> Where Passion Meets Education</div>
            <div class="aboutus__container__text__subheading">Building a community of life long learners !</div>
        </div>
    </div>
    <div class="aboutus__heading"><div class="line"></div><span>About us</span></div>

    <div class="aboutus__topdesc">
        <div class="content">
            <div class="heading">Dedicated Educator</div>
            <div class="text">Our dedicated educators, armed with advanced degrees and passion for their subjects, are commited to guiding towards success. With the expertise and enthusiasm , they inspire challenge and support you throughout your learning journey at IEV</div>
        </div>
        <div class="content">
            <div class="heading">Cutting edge circulum</div>
            <div class="text">Explore our cutting-edge curriculum, meticulously crafteed by induustry experts to reflet the latest advancements in electric vehicle technology.Stay ahead of the curve with dynamic courses that prepare you for the forefront of innovation in the rapidly evolving EV landscape</div>
        </div>
    </div>
    <div class="aboutus__bottomdesc">
        <div class="content">
            <div class="heading">Commitment to Excellence</div>
            <div class="text">At iEV, we are deeply committed to excellence in all aspects of our services. Form our meticulously designed courses to our dedicated support,we strive to provide highest quality education and resources to empower our learners towards success.</div>

        </div>
    </div>
    <div class="aboutus__mission">Mission - Vision - Goal</div>
    <div class="aboutus__valuecontainer">
            <div class="vision">
                <div>
                    <img src="../../assets/vision.png"/>
                    <div>Vision</div>
                </div>
                <div class="text">
                    <div class="header">Transforming transportation for a sustainable Tomorrow</div>
                    <div class="sub">
                    At iEV Technologies, our vision is rooted in the profound belief that the future of transportation lies in the
                    transformative power of electric mobility.We aspire to be at the forefront of this resolution, empowering individuals and organizations to not only ada[t to but actively embrace electric vehicles(Evs) for a greener,cleaner, and more sustainable future.
                    </div>
                </div>
            </div>
            <div class="mission">
                <div>                
                    <img src="../../assets/mission.png"/>
                    <div>Mission</div>
                </div>
                <div class="text">
                    <div class="header">Energizing Tommorrow, Today</div>
                    <div class="sub">
                    At iEV Technologies, our core mission is to spearhead the development of ground-breaking solutions for the electric vehicle (EV) industry. 
                    We are committed to pioneering innovations that propel the world towards a sustainable and electrified future.
                     Our focus extends beyond conventional boundaries as we strive to define the landscape of electric mobility
                    </div>
                </div>
            </div>
            <div class="goals">
                <div>
                    <img src="../../assets/goals.png"/>
                    <div>Goals</div>
                </div>
                <div class="text">
                    <div class="header">Sustainability , Innovation and Excellence</div>
                    <div class="sub">
                    iEv's goals revolve around sustainability, innovation, and excellence. 
                    We aim to pioneer sustainable solutions, drive innovation in electric vehicles, and uphold a standard of excellence in all endeavors.
                    </div>
                </div>
            </div>
    </div>


</div>
<app-footer></app-footer>