<div class="aboutus">
    <div class="aboutus__content">
        <div class="aboutus__content__heading">About iEv</div>
        <div class="aboutus__content__subheading">Who we are</div>
       <div class="aboutus__content__text">
        IEV Technologies is an innovative Learning Management System that is powered by a dedicated team of experts. 
        Our team is passionate about education and devotes its time to ensuring that the most cutting-edge technology is available to support learning around the globe.
    </div> 
    </div>
    <div class="aboutus__img">
        <img src="assets/aboutus.png"/>
    </div>
</div>
<div class="contact-container">
    <div class="contact-container__content">
        <div class="contact-container__content__image"><img src="./assets/light-bulb.png" /><div>Vision</div></div>
        <div class="contact-container__content__text">
            <!-- <div class="contact-container__content__text__heading">Vision</div> -->
            <div class="contact-container__content__text__subheading">Transforming transportation for a sustainable Tomorrow</div>
            <div class="contact-container__content__text__address"><span>•</span> At IEV Technologies, our vision is rooted in the profound belief that the future of transportation lies in the
              transformative power of electric mobility. 
              </div>
              <div class="contact-container__content__text__address"><span>•</span> We aspire to be at the forefront of this green revolution</div>
              <div class="contact-container__content__text__address"><span>•</span> Empowering individuals and organizations to not only adapt to but actively embrace electric vehicles (EVs) for a greener,
                cleaner, and more sustainable future.</div>
          </div>
    </div>
    <div class="contact-container__content">
        <div class="contact-container__content__image"><img src="./assets/value.png" /><div>Mission</div></div>
        <div class="contact-container__content__text">
            <!-- <div class="contact-container__content__text__heading">Mission</div> -->
            <div class="contact-container__content__text__subheading">Energizing Tomorrow, Today Develop innovative solutions for electric vehicles</div>
            <div class="contact-container__content__text__address"><span>•</span> At IEV Technologies, our core mission is to spearhead the development of ground-breaking solutions for the
              electric vehicle (EV) industry. 
              <div class="contact-container__content__text__address"><span>•</span> We are committed to pioneering innovations that propel the world towards a
              sustainable and electrified future</div><div class="contact-container__content__text__address"><span>• </span>Our focus extends beyond conventional boundaries as we strive to redefine
              the landscape of electric mobility</div>
          </div>
            </div>
    </div>
    <div class="contact-container__content">
        <div class="contact-container__content__image"><img src="./assets/target.png" /><div>Values</div></div>
        <div class="contact-container__content__text">
            <!-- <div class="contact-container__content__text__heading">Values</div> -->
            <div class="contact-container__content__text__subheading">Sustainability, Innovation and Excellence</div>
            <div class="contact-container__content__text__address"><span>•</span> Our commitment to business in a fair, legal, and truthful manner is one of our key beliefs.
                <div class="contact-container__content__text__address"><span>•</span> These serve as the cornerstone of our business.</div></div>
          </div>
    </div>
</div>
<app-focus></app-focus>
<app-footer></app-footer>