<div class="aboutus">
    <div class="aboutus__container">
        <div class="aboutus__container__text">
           <div class="aboutus__container__text__heading"> Where Passion Meets Education</div>
            <div class="aboutus__container__text__subheading">Building a community of life long learners !</div>
        </div>
    </div>
    <div class="aboutus__heading"><div class="line"></div><span>About us</span></div>

    <div class="aboutus__topdesc">
        <div class="content">
            <div class="heading">Dedicated Educator</div>
            <div class="text">Our dedicated educators, armed with advanced degrees and passion for their subjects, are commited to guiding towards success. With the expertise and enthusiasm , they inspire challenge and support you throughout your learning journey at IEV</div>
        </div>
        <div class="content">
            <div class="heading">Cutting edge circulum</div>
            <div class="text">Our dedicated educators, armed with advanced degrees and passion for their subjects, are commited to guiding towards success. With the expertise and enthusiasm , they inspire challenge and support you throughout your learning journey at IEV</div>
        </div>
    </div>
    <div class="aboutus__bottomdesc">
        <div class="content">
            <div class="heading">Commitment to Excellence</div>
            <div class="text">Our dedicated educators, armed with advanced degrees and 
                passion for their subjects, are commited to guiding towards success. 
                With the expertise and enthusiasm , they inspire challenge and support you throughout your learning journey at IEV</div>

        </div>
    </div>
    <div class="aboutus__mission">Mission - Vision - Goal</div>
    <div class="aboutus__valuecontainer">
            <div class="vision">
                <div>
                    <img src="../../assets/vision.png"/>
                    <div>Vision</div>
                </div>
                <div class="text">
                    <div class="header">Transforming transportation for a sustainable Tomorrow</div>
                    <div class="sub">
                    At iEV Technologies, our vision is rooted in the profound belief that the future of transportation lies in the
                    transformative power of electric mobility.
                    </div>
                </div>
            </div>
            <div class="mission">
                <div>                
                    <img src="../../assets/mission.png"/>
                    <div>Mission</div>
                </div>
                <div class="text">
                    <div class="header">Transforming transportation for a sustainable Tomorrow</div>
                    <div class="sub">
                    At iEV Technologies, our vision is rooted in the profound belief that the future of transportation lies in the
                    transformative power of electric mobility.
                    </div>
                </div>
            </div>
            <div class="goals">
                <div>
                    <img src="../../assets/goals.png"/>
                    <div>Goals</div>
                </div>
                <div class="text">
                    <div class="header">Transforming transportation for a sustainable Tomorrow</div>
                    <div class="sub">
                    At iEV Technologies, our vision is rooted in the profound belief that the future of transportation lies in the
                    transformative power of electric mobility.
                    </div>
                </div>
            </div>
    </div>


</div>
<app-footer></app-footer>