.aboutus{
    display: flex;
    justify-content: center;
    padding: 20px 20%;
    background: rgb(255, 191, 35);
    &__content{
        color: white;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        animation: slideFromLeft 1s ease-in-out forwards; /* Animate content from left */
        transform: translateX(-100%); /* Initially position content outside the viewport */
        &__heading{
            padding-top: 30px;
            font-size: 35px;
            font-weight: 700;
        }
        &__subheading{
            padding-top: 5px;
            font-size: 43px;
            font-weight: 500;
        }
        &__text{
            padding-top: 10px;
            line-height: 35px;
            letter-spacing: 0.5px;
            font-size: 18px
        }

    }
    &__img{
        display: flex;
        align-items: center;
        animation: slideFromRight 1s ease-in-out forwards; /* Animate image from right */
        transform: translateX(100%); /* Initially position image outside the viewport */
        img{
            height: 400px;
            width: 400px;
            opacity: 0.7;
            // animation: rotateImage 25s linear infinite;
        }
        div{

        }
    }
    
}
@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes rotateImage {
    to {
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 600px) {
    .aboutus{
        flex-direction: column;
        align-items: center;
        padding: 10px 2%;
        &__content{
            &__heading{
                padding-top: 20px;
                font-size: 25px;
                font-weight: 700;
            }
            &__subheading{
                padding-top: 10px;
                font-size: 33px;
                font-weight: 500;
            }
            &__text{
                padding-top: 20px;
                line-height: 30px;
                letter-spacing: 0.5px;
                font-size: 14px
            }
    
        }
        &__img{
            display: flex;
            align-items: center;
            animation: slideFromRight 1s ease-in-out forwards; /* Animate image from right */
            transform: translateX(100%); /* Initially position image outside the viewport */
            img{
                height: 200px;
                width: 200px;
                opacity: 0.7;
                animation: rotateImage 25s linear infinite;
            }
        }
        
    }    
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // align-items: center;
    padding: 30px 5%;
    &__content{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        &__image{
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: slideInFromLeft 1s ease-out forwards;
            padding: 15px 25px 15px 15px;
            width: 25%;
            img{
                height: 150px;
                width: 150px;
            }
            div{
                font-size: 24px;
                font-weight: 700;
                padding-top: 20px;

            }
        }
        &__text{
                width: 75%;
                padding-left: 30px;
                animation: slideInFromRight 1s ease-out forwards;
                width: 100%;
                // height: 250px;
                color: black;
                border-radius: 6px;
                // border-top: 4px solid rgb(252, 203, 79);
                // box-shadow: 4px 4px 4px rgb(252, 203, 79); /* Box shadow with desired elevation */
                padding: 20px 15px;
                &__heading{
                text-align: start;
                padding: 10px 0px;
                font-size: 28px;
                font-weight: 700;
                color: rgb(252, 203, 79);
                letter-spacing: 2px;
                }
                &__subheading{
                    text-align: start;
                    font-size: 24px;
                    color: black;
                    font-weight: 700;
                    letter-spacing: 1px;
                    padding-bottom: 10px;
                }
                &__address{
                    text-align: start;
                    padding: 10px 0px;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 30px;
                    span{
                        font-weight: 700;
                        font-size: 20px;
                    }
            
                }

        }

    }
  }
  @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
  }
  
  @media only screen and (max-width: 600px) {


    .contact-container {
      flex-direction: column;
    //   padding: 20px 0%;
    padding: 20px 0;
      &__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 5%;
        margin-bottom: 20px;
        &__image{
            display: none;
        }
        &__text{
                padding-left: 30px;
                animation: slideInFromRight 1s ease-out forwards;
                width: unset;
                height: unset;
                color: black;
                border-radius: 6px;
                // border-left: 4px solid rgb(252, 203, 79);
                // border-top: 4px solid rgb(252, 203, 79);
                // box-shadow: 4px 4px 4px rgb(252, 203, 79); /* Box shadow with desired elevation */
                padding: 20px 15px;
                &__heading{
                text-align: start;
                padding: 10px 0px;
                font-size: 28px;
                font-weight: 700;
                color: rgb(252, 203, 79);
                letter-spacing: 2px;
                }
                &__subheading{
                    text-align: start;
                    font-size: 24px;
                    color: black;
                    font-weight: 700;
                    letter-spacing: 1px;
                }
                &__address{
                    text-align: start;
                    padding: 10px 0px;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 35px;
            
                }

        }

      }
    }
    

    
    @keyframes slideInFromLeft {
      0% {
          transform: translateX(-100%);
      }
      100% {
          transform: translateX(0);
      }
    }
    
    @keyframes slideInFromBottom {
      0% {
          transform: translateY(100%);
      }
      100% {
          transform: translateY(0);
      }
    }
    
    @keyframes slideInFromRight {
      0% {
          transform: translateX(100%);
      }
      100% {
          transform: translateX(0);
      }
    }
    

  }  
  