.aboutus{
    padding: 100px 10% 30px 10%;
    &__container{
        height: 350px;
        width: 100%;
        background-image: url(../../assets/aboutusbackground.jpg);
        background-size: cover; /* Cover the entire container */
        background-position: center; /* Center the background image */
        position: relative;
        &__text{
           width: 100%;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%,-50%);
           background-color: rgba(255, 255, 255, 0.9); /* White color with 70% opacity */
           &__heading{
                padding:30px 0px 0px 0px;
                font-size: 24px;
                color: rgb(0, 90, 60);
                text-align: center;
           }
           &__subheading{
                letter-spacing: 1px;
                padding: 10px 0px 30px 0px;
                font-size: 12px;
                color: black;
                text-align: center;
           }
        }
    }

    &__heading{
        font-size: 25px;
        color: rgb(0, 90, 60);
        position: relative;
        padding: 40px 0px;
        text-align: center;
        .line{
            height: 2px;
            background: rgb(0, 90, 60);
            width: 100%;
        }
        span{
            background: white;
            position: absolute;
            top: 50%;
            padding: 0px 9px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    }
    &__topdesc,    &__bottomdesc{
        display: flex;
        justify-content: center;
        .heading{
            font-size: 19px;
            font-weight: 600;
            padding-bottom: 10px;
            text-align: center;
            width: 100%;
        }
        .text{
            font-size: 13px;
            line-height: 20px;
            text-align: center;
            width: 100%;
        }
        .content{
            padding-left: 25px;
            width: 30%;
        }
    }
    &__mission{
        text-align: center;
        padding: 30px 0px 10px 0px;
        font-size: 28px;
    }
    &__bottomdesc{
        padding-top: 40px;
    }
    &__valuecontainer{
        background: linear-gradient(to top right, rgba(255, 255, 255, 0.3), rgb(255, 191, 35));;
        padding: 20px 30px 20px 45px;
        div{
            font-size: 14px;
            font-weight: 600;
        }
        .mission,.vision,.goals{
            display: flex;
            padding: 40px 0px 0px 0px;
        }
        .vision{
            animation: slideFromLeft .8s ease-in-out forwards;
            img{
                height: 40px;
                width: 40px;
            }
        }
        .mission{
            padding-left: 100px;
            animation: slideFromLeft 1s ease-in-out forwards;
            img{
                height: 40px;
                width: 40px;
            }
        }
        .goals{
            animation: slideFromLeft 2s ease-in-out forwards;
            padding-left: 180px;
            img{
                height: 60px;
                width: 60px;
                margin-left: -10px;
            }
        }
        .text{
            padding-left: 20px;
            .header{
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                // padding-bottom: 10px;
            }
            .sub{
                font-size: 12px;
                line-height: 20px;
                font-weight: 500;

            }
        }
    }
    
}
@keyframes slideFromLeft {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0);
    }
}
@media only screen and (max-width: 600px) {
    .aboutus{
        padding: 100px 5% 30px 5%;
        &__container{
            &__text{
               &__heading{
                    padding:30px 0px 0px 0px;
                    font-size: 24px;
               }
               &__subheading{
                    font-size: 12px;
                    color: black;
                    text-align: center;
               }
            }
        }

        &__heading{
            font-size: 25px;
            color: rgb(0, 90, 60);
            position: relative;
            padding: 40px 0px;
            text-align: center;
            .line{
                height: 2px;
                background: rgb(0, 90, 60);
                width: 100%;
            }
        }
        &__topdesc,    &__bottomdesc{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .heading{
                font-size: 19px;
                font-weight: 600;
                padding-bottom: 10px;
                text-align: center;
                width: 100%;
            }
            .text{
                font-size: 13px;
                line-height: 20px;
                text-align: center;
                width: 100%;
            }
            .content{
                padding-left: 0px;
                padding-top: 10px;
                width: 100%;
            }
        }
        &__mission{
            text-align: center;
            padding: 20px 0px 10px 0px;
            font-size: 24px;
        }
        &__bottomdesc{
            padding-top: 10px;
        }
        &__valuecontainer{
            background: linear-gradient(to top right, rgba(255, 255, 255, 0.3), rgb(255, 191, 35));;
            padding: 20px 30px 20px 45px;
            div{
                font-size: 14px;
                font-weight: 600;
            }
            .mission,.vision,.goals{
                display: flex;
                padding: 20px 0px 0px 0px;
            }
            .text{
                padding-left: 20px;
                .header{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 30px;
                }
                .sub{
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 500;
    
                }
            }
        }
        
    }
}