<div class="events">
    <div class="events__heading">Upcoming Events</div>
    <div class="events__container">
        <div class="events__container__flex">
            <div class="events__container__flex__heading">Small Bussiness Meet Up</div>
            <div class="events__container__flex__subheading">tis 09 march | Mountain view </div>
            <div class="button">RSVP</div>
        </div>
        <div class="events__container__flex">
            <div class="events__container__flex__heading">City New Yorking Event</div>
            <div class="events__container__flex__subheading">tis 03 april | Flat iron district </div>
            <div class="button">RSVP</div>
        </div>
        <div class="events__container__flex">
            <div class="events__container__flex__heading">Sun Roof Party </div>
            <div class="events__container__flex__subheading">tis 06 feb | West village </div>
            <div class="button">RSVP</div>
        </div>
    </div>
</div>