<div class="headingjourney">Our learning journey</div>
<div class="journey" style=" background-repeat: no-repeat; background-position: center;">
    <div class="journey__steps">
        <div class="journey__steps__step6">Continous Improvement</div>
        <div class="journey__steps__step5">Community Support</div>
        <div class="journey__steps__step4">Interactive Learning Experience</div>
        <div class="journey__steps__step3">Flexible Learning Options</div>
        <div class="journey__steps__step2">Expert Instructors</div>
        <div class="journey__steps__step1">Diverse Course Offerings</div>
    </div>
    <div class="journey__image">    
        <img src="assets/road-man.png"/>
    </div>
</div>