<div class="button-section">
    <div (click)="navigateCourses()">Explore courses</div>
    <div>Explore Workshops</div>
    <div>Explore Intenships</div>
</div>
<div class="contact-container">
    <div class="contact-container__content">
        <!-- <div class="contact-container__content__image"><img src="./assets/light-bulb.png" /></div> -->
        <div class="contact-container__content__text">
            <div class="contact-container__content__text__heading" (click)="navigateCourses()">• iEV Learning Hub</div>
            <div class="contact-container__content__text__subheading">Transforming transportation for a sustainable Tomorrow</div>
            <div class="contact-container__content__text__address"><div><img src="assets/check-white.png"/></div><div> Trainings/ Webinars</div></div>
            <div class="contact-container__content__text__address"><div><img src="assets/check-white.png"/></div> <div>Customized EV Workshops</div></div>
            <div class="contact-container__content__text__address"><div><img src="assets/check-white.png"/></div><div> Corporate Training programs</div></div>
            <div class="contact-container__content__text__address"><div><img src="assets/check-white.png"/></div><div> Partnerships and Collaborations</div> </div>
            <div class="contact-container__content__text__heading">• EV Consultation Services</div>
          </div>
    </div>
</div>
<app-journey></app-journey>
<div class="contact-container">
    <div class="contact-container__content">
        <!-- <div class="contact-container__content__image"><img src="./assets/light-bulb.png" /></div> -->
        <div class="contact-container__content__text">
            <div style="text-decoration: unset;" class="contact-container__content__text__heading">• More about iEV Learning Hub</div>
            <div class="contact-container__content__text__subheading">Welcome to iEV Learning Hub – You gateway to lifelong learning</div>
            <div class="contact-container__content__text__address">At iEV Learning Hub, we believe that learning is a lifelong journey that should be accessible, engaging, and empowering
                for all. Whether you're a seasoned professional looking to expand your skills or a curious learner eager to explore new
                subjects, our platform offers a diverse range of courses and resources to cater to your learning needs</div>
            <div class="contact-container__content__text__heading" style="text-decoration: unset;">• Why Choose iEV Learning Hub?</div>
            <div class="contact-container__content__text__subheading">journey</div>
            <div class="contact-container__content__text__address">At iEV Learning Hub, we believe that learning is a lifelong journey that should be accessible, engaging, and empowering
                    for all. Whether you're a seasoned professional looking to expand your skills or a curious learner eager to explore new
                    subjects, our platform offers a diverse range of courses and resources to cater to your learning needs</div>
            <div class="contact-container__content__text__heading" style="cursor: pointer;" (click)="navigateContact()">• Join Us Today!   </div>
            <div class="contact-container__content__text__address">Embark on your learning journey with <span>iEV</span>Learning Hub and unlock your full potential. Whether you're looking to advance
                        your career, pursue your passion, or simply broaden your horizons, we're he</div>
          </div>
    </div>
</div>
