.contact-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px 10% 20px 10%;
    &__content{
        width: 100%;
        display: flex;
        justify-content: center;
        background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
        &__text{
                padding-left: 30px;
                animation: slideInFromRight 1s ease-out forwards;
                width: 100%; 
                color: black;
                border-radius: 6px;
                box-shadow: 4px 4px 4px #EF8D9C; 
                padding: 20px 15px;
                &__heading{
                text-align: start;
                padding: 10px 0px;
                font-size: 28px;
                font-weight: 700;
                color: white;
                letter-spacing: 2px;
                text-decoration: underline;
                cursor: pointer;
                    &:hover{
                        color: black;
                        transition: transform .5s ease;   
                        transform: scale(0.9);
                        font-size: 28px;
                    }
                }
                &__subheading{
                    text-align: start;
                    font-size: 24px;
                    color: white;
                    font-weight: 700;
                    letter-spacing: 1px;
                } 
                &__address{
                    text-align: start;
                    padding: 10px 0px;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 35px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    color: white;
                    div{
                        display: flex;
                        justify-content: start;
                        align-items: center;
                    }
                    img{
                        height: 20px;
                        width: 20px;
                        padding-right: 20px;
                    }
            
                }

        }

    }
  }
  @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
  }
  .button-section{
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    cursor: pointer;
    div{
        padding: 15px 20px;
        font-size: 20px;
        color: white;
        border-radius: 4px;
        background: rgb(255, 191, 35);
        &:hover{
            transition: transform .5s ease;   
            transform: scale(1.1);
            color: black;
        }
    }
  }

  @media only screen and (max-width: 600px) {
    .contact-container {
      flex-direction: column;
      padding: 20px 2% 20px 2%;
      &__content{
        flex-direction: column;
        margin-bottom: 20px;
        &__image{
            display: none;
        }
        &__text{
                width: unset;
                height: unset;
                border-radius: 6px;
                border-left: 4px solid #EF8D9C;
                box-shadow: 4px 4px 4px #EF8D9C; /* Box shadow with desired elevation */
                &__heading{
                    text-align: start;
                    padding: 10px 0px;
                    font-size: 25px;
                }
                &__subheading{
                    text-align: start;
                    font-size: 19px;
                    padding-top: 5px;
                }
                &__address{
                    padding: 10px 0px;
                    color: white;
                    line-height: 30px;
                    img{
                        height: 10px;
                        width: 10px;
                        padding-right: 20px;
                    }
            
                }

        }

      }
    }
    .button-section{
        flex-direction: column;
        padding: 10px 2%;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        div{
            width: 70%;
            text-align: center;
            padding: 12px 18px;
            font-size: 18px;
            margin-top: 15px;
        }
      }

    .journey{
        padding: 0 5%;
        position: relative;
        display: flex;
        &__steps{
            font-weight: 700;
            width: 100%;
            div{
                margin: 10px 0px;
                padding: 10px 5px;
                border-radius: 4px;
                background-color: rgb(255, 191, 35);
                &:hover{
                    background: black;
                    color: white;
                    transition: transform .5s ease;   
                    transform: scale(0.7);
                }
            }
            &__step1{
                font-size: 9px;
                width: 35%;
            }
            &__step2{
                font-size: 11px;
                width: 50%;
            }
            &__step3{
                font-size: 13px;
                width: 65%;
            }
            &__step4{
                font-size: 15px;
                width: 70%;
            }
            &__step5{
                font-size: 17px;
                width: 85%;
            }
            &__step6{
                font-size: 19px;
                width: 100%;
            }
        }
        &__image{
            display: none;
        }
    
      }
      .headingjourney{
        margin-bottom: 5px;
        font-size: 28px;
        padding: 0 2%;
        font-weight: 700;
        color: black;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: rgb(255, 191, 35); 
      }
  }  
  