.header{
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    padding-bottom: 30px;
}
.testimonials{
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    &__div{
        border: 3px solid black;
        height: 350px;
        width: 280px;
        border-radius: 30px;
        overflow: hidden;
        font-size: 22px;
        font-weight: 700;
        div{
            background: rgb(255, 191, 35);
            padding: 5px 5px 5px 10px;
            border-bottom: 3px solid black;
        }
    }
}
@media only screen and (max-width: 600px) {
    .header{
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .testimonials{
        flex-direction: column;
        padding: 10px 5%;
        align-items: center;
        &__div{
            height: 180px;
            width: 300px;
            margin-bottom: 10px;
        }

    }
}