<div class="video-container">
    <div class="video-container__desc">
        <div class="video-container__desc__header">
             iEvoke... iEvolve... iEventuate...
        </div>
        <div class="video-container__desc__text">
            <span>iEV</span> provides an effective and powerful platform to enhance your knowledge
        </div>
        <div class="video-container__desc__started">
            <div (click)="openContactForm()">Get started</div>
        </div>
        <div class="video-container__desc__obj">
            <div class="video-container__desc__obj__content">
                <div><img src="../../assets/better_collaboration.png"/></div>
                <div>Better collaboration</div>
            </div>
            <div class="video-container__desc__obj__content">
                <div><img src="../../assets/better_innovation.png"/></div>
                <div>Better innovation</div>
            </div>
            <div class="video-container__desc__obj__content">
                <div><img src="../../assets/better_growth.png"/></div>
                <div>Better growth</div>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div class="video-container__video">
         <video class="video-container__video__tag" muted loop autoplay>
            <source src="assets/background-video-wix.mp4" type="video/mp4">
          </video>
          <div class="video-container__video__text">
              <div class="video-container__video__text__left">
                  With the Right Platform, Great Things Can Happen
              </div>
              <div class="video-container__video__text__right">
                  <div>Enable individuals or organizations to achieve their goals and create positive outcomes.</div>
                  <div>Provide access to resources, tools, and networks that can facilitate collaboration, innovation, and growth. </div>
              </div>
          </div>
    </div>
    <app-home-learning-hub ></app-home-learning-hub>
    <app-testimonials></app-testimonials>
    <div class="events">
        <div class="events__heading">Upcoming Events</div>
        <div class="events__container">
            <div class="events__container__flex">
                <div class="events__container__flex__heading">Small Bussiness Meet Up</div>
                <div class="events__container__flex__subheading">tis 09 march | Mountain view </div>
                <div class="button">RSVP</div>
            </div>
            <div class="events__container__flex">
                <div class="events__container__flex__heading">City New Yorking Event</div>
                <div class="events__container__flex__subheading">tis 03 april | Flat iron district </div>
                <div class="button">RSVP</div>
            </div>
            <div class="events__container__flex">
                <div class="events__container__flex__heading">Sun Roof Party </div>
                <div class="events__container__flex__subheading">tis 06 feb | West village </div>
                <div class="button">RSVP</div>
            </div>
        </div>
    </div>
</div>
  